@()(implicit flash: play.api.mvc.Flash)

@main{
  @if(flash.get("success").isDefined){
  <div class="alert alert-success">
    完了
  </div>
  }
  
  <form action="@routes.Manage.upload" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="form-horizontall" style="margin-top:20px; margin-bottom:100px;"  class="form-horizontall">
    <input type="hidden" name="authenticityToken" value="3cadd048c6add62f5ad9e82bcb8978a0d2651fa3">
    <fieldset id="fileInfo" name="fileInfo" class="well">
      <div id="legend"><legend class="">アップロード</legend></div>

      <div class="control-group">
        <label class="control-label" for="file">ファイル</label>
        <div class="controls">
          <input type="file" id="file" name="file" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="title">タイトル</label>
        <div class="controls">
          <input type="text" id="title" name="title" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="comment">コメント</label>
        <div class="controls">
          <input type="text" id="comment" name="comment" placeholder="" class="input-xlarge">
        </div>
      </div>
  
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-success">Upload</button>
        </div>
      </div>
    </fieldset>
  </form> 
}