@(files : List[models.FileInfo])

@main{
  <table class="table table-striped table-bordered">
  <tr>
    <th width="10"></th><th width="20%">日時</th><th>タイトル</th><th>コメント</th>
  </tr>
  @for(f <- files){
    <tr>
      <td><a href="@routes.Application.download(f.id.get)"><i class="icon-file"></i></a></td>
      <th>@f.datetimeStr</th><td>@f.title</td><td>@f.comment</td>
    </tr>
  }
  
  </table>
}