@(title: String, faild : Boolean = false)

@main{
  @if(faild){
  <div class="alert alert-error">
    ログインに失敗しました
  </div>
  }
  
  <div class="alert alert-info">
    ログインの有効期限は一日です
  </div>
  
  <form method="post" accept-charset="utf-8" class="form-horizontall" style="margin-top:20px; margin-bottom:100px;">
    <input type="hidden" name="authenticityToken" value="3cadd048c6add62f5ad9e82bcb8978a0d2651fa3">
    <fieldset id="fileInfo" name="fileInfo" class="well span4 offset4">
      <div id="legend"><legend class="">@title</legend></div>

      <div class="control-group">
        <label class="control-label" for="username">ユーザー名</label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="title">パスワード</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn btn-success">ログイン</button>
        </div>
      </div>
    </fieldset>
  </form> 
}